.favorites {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 2rem;
  min-height: 80vh;
}
.favorite___cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
}
.favorite___sort-options {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .favorite___sort-options {
    flex-direction: column;
    
  }
  
}
.favorite___sort-options select{
  margin-left: .5rem;
  background: #111;
    list-style: none;
    outline: none;
    border: #1111118f solid 1px;
    padding: 0.2rem 1rem;
    color: #88dd6e;
    border-radius: 8px   8px;
    font-size: 1rem;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

