.detail___container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2rem;
  min-height: 80vh;
}
.detail___header p {
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
}
.detail___header h2 {
  color: #88dd6e;
  font-size: 3rem;
  margin: 0;
}
.detail___header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 0.4rem;
}
@media screen and (max-width: 768px) {
  .detail___header {
    flex-direction: column-reverse;
  }
}
.detail___card img {
  border-radius: 50%;
  animation: portal 1.5s ease-in-out infinite;
}
.detail___card {
  box-shadow: #61c024 0px 4px 12px;
  border: 1px #c8df6a solid;
  background: #111;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;

  gap: 1rem;
  border-radius: 8px;
  width: 60%;
  height: 100%;
  box-sizing: border-box;
  margin: 1rem 0;
  gap: 1rem;
}
@media screen and (max-width: 1024px) {
  .detail___card {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .detail___card {
    width: 100%;
    flex-direction: column-reverse;
  }
}
.detail___card-info {
  text-align: left;
  width: 100%;
}

.detail___card-info h3 {
  color: #88dd6e;
}

.card-info___tag {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

@keyframes portal {
  0% {
    clip-path: polygon(
      58% 0,
      76% 16%,
      94% 25%,
      92% 68%,
      88% 93%,
      48% 90%,
      17% 82%,
      0 77%,
      7% 37%,
      14% 8%
    );
  }

  35% {
    clip-path: polygon(
      58% 0,
      87% 15%,
      99% 39%,
      95% 77%,
      78% 89%,
      56% 99%,
      20% 85%,
      3% 53%,
      15% 27%,
      36% 15%
    );
  }
  68%,
  72% {
    clip-path: polygon(
      58% 0,
      87% 15%,
      100% 51%,
      96% 73%,
      72% 83%,
      56% 99%,
      31% 81%,
      0 63%,
      7% 29%,
      28% 10%
    );
  }
  85% {
  }
  100% {
    clip-path: polygon(
      58% 0,
      76% 16%,
      94% 25%,
      92% 68%,
      88% 93%,
      48% 90%,
      17% 82%,
      0 77%,
      7% 37%,
      14% 8%
    );
  }
}
