.detail___container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;

    padding: 2rem;
    min-height: 80vh;
}
.detail___header p{
    font-weight: 800;
    font-size: 1.5rem;
}
.detail___header h2{
    color:#88dd6e;
}
.detail___header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 .4rem;
}
.detail___card img{
    border-radius: 50%;
}
.detail___card {
  box-shadow: rgba(14, 170, 194, 0.349) 0px 4px 12px;
  background: #111;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  border-radius: 8px;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  margin: 1rem 0;
  gap: 1rem;
}
.detail___card-info{
    text-align: left;
    width: 100%;
}

.detail___card-info h3{
    color: #88dd6e;
}

.card-info___tag{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 1rem;
}