.alert___container {
  position:fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #11111161;
 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.alert___card hr {
  border-color: #c8df6a;
}
.alert___card {
  background: #111;
  border-radius: 8px;
  min-height: 20%;
  box-shadow: rgb(93, 16, 226) 0px 20px 30px -10px;
  transition: all 1s ease-in-out;
}

.alert___card-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1rem 1rem 0 3rem;
}
.alert___card-header span {
  font-weight: 600;
  cursor: pointer;
}
.alert___card-header h3 {
  margin: 0;
  text-transform: capitalize;
  color: #88dd6e;
}
.alert___card-body {
  padding: 1rem 1rem 1rem 1rem;
  color: #fff;
}
