.navbar___right-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 1rem;
}

.navbar___search-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}
.navbar___search-content div {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.navbar___search-search-btn {
  border-radius: 0 8px 8px 0;
  height: 1.65rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
  background: rgb(49, 47, 56);
  transition: all .5s ease-in-out;
}
.navbar___search-input {
  background: #111;
  list-style: none;
  outline: none;
  border: #1111118f solid 1px;
  padding: 0.2rem 1rem;
  color: #88dd6e;
  border-radius: 8px 0 0 8px;
  font-size: 1rem;
}

.navbar___search-input-alert {
  border: 1px solid #e9572269;
}
.navbar___search-alert {
  width: 100%;
  align-self: baseline;
  color: #e95722;
  padding: 0.2rem 0.3rem 0.3rem 0rem;
  margin: 0;
  display: none;
  visibility: hidden;
  font-size: 0.8rem;
  text-align: left;
  transition: all 1s ease-in-out;
}
.navbar___search-input-alert-vissible {
  visibility: visible;
  display: block;
}
