@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Outfit:wght@400;700&display=swap");

root {
  --verde-segundario: #88dd6e;
  --turquesa-prin: #0eaac2;
  --color: #1b005f;
}
.App {
  text-align: center;
  background: rgba(27, 0, 95, 1);
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(27, 0, 95, 1) 100%
  );
  min-height: 100vh;
  font-family: "Bagel Fat One", cursive;
  color: #0eaac2;
  box-sizing: border-box;
}

p,
a,
ul,
ol,
i {
  font-family: "Outfit", sans-serif;
}
