@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;600&family=K2D:wght@400;600&display=swap");
root {
  --verde-segundario: #88dd6e;
  --turquesa-prin: #0eaac2;
  --otro-verde: #c8df6a;
  --verde-oscuro: #61c024;
  --color: #1b005f;
}
.App {
  text-align: center;
  width: 100%;
  min-height: 100%;
  background: rgb(17, 17, 17);
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(27, 0, 95, 1) 30%
  );
  height: 100%;
  font-family: "Eater", cursive;
  color: #0eaac2;
  box-sizing: border-box;
  font-family: "K2D", sans-serif;
}
@media screen and (max-width: 768px) {
  .App {
    width: 100vw;
    height: 100%;
  }
}

p,
a,
ul,
ol,
i,
span {
  font-family: "Assistant", sans-serif;
}
.navbar button:hover,.navbar___search-random-btn:hover  {
  background: rgb(87 46 223);
}
.navbar___search-random-btn {
  border-radius: 8px;
  height: 1.65rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  background: rgb(49, 47, 56);
  transition: all 0.5s ease-in-out;
  color: aquamarine;
}