@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Outfit:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Eater&display=swap");

root {
  --verde-segundario: #88dd6e;
  --turquesa-prin: #0eaac2;
  --color: #1b005f;
}
.App {
  text-align: center;
  width: 100%;
  min-height: 100%;
  background: rgb(17, 17, 17);
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(27, 0, 95, 1) 30%
  );
  height: 100%;
  font-family: "Eater", cursive;
  color: #0eaac2;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .App {
    width: 100vw;
    height: 100%;
  }
}

p,
a,
ul,
ol,
i,
span {
  font-family: "Outfit", sans-serif;
}
